.notifications-container {
  background: rgba(255, 255, 255, 0.06);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(10.1px);
  height: 200px;
  margin: 1rem 0 1rem 0;
  overflow-y: scroll;
  position: relative; /* Add position relative to create a stacking context */

  .notifications-heading {
    background: rgb(96, 97, 95);
    background: linear-gradient(
      175deg,
      rgba(96, 97, 95, 1) 11%,
      rgba(76, 77, 85, 1) 100%,
      rgba(25, 24, 40, 1) 100%
    );
    margin: 0;
    padding: 10px;
    color: white;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    // position: sticky;
    // top: 0;
  }

  .notifications-list {
    list-style-type: disc;
    margin-left: 0;
    padding-left: 1.5rem;
    left: 0;

    .notifications-item {
      margin-bottom: 10px;
      padding: 0.25rem;
      border-radius: 5px;
    }
  }

  /* Hide the scrollbar */
  &::-webkit-scrollbar {
    width: 0; /* Adjust to your desired width */
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: transparent;
  }
}

body.dark .notifications-container {
  background: rgba(255, 255, 255, 0.06);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  color: white;
}

body.dark .notifications-heading {
  background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
  color: white;

  margin: 0;
  padding: 10px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  // position: sticky;
  // top: 0;
}
